@model Lares.ViewModels.PropertyViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerUserId" class="control-label"></label>
                <select asp-for="OwnerUserId" asp-items="Model.OwnerSelectList" class="form-control">
                    <option value="">Select Owner</option>
                </select>
                <span asp-validation-for="OwnerUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcquiredDate" class="control-label"></label>
                <input asp-for="AcquiredDate" class="form-control" />
                <span asp-validation-for="AcquiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetAsCurrentProp" class="control-label"></label>
                <input asp-for="SetAsCurrentProp" class="form-control" />
                <span asp-validation-for="SetAsCurrentProp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
